.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999; /* Ensure it's above other content */
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Styles for the submenu buttons */
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    transition: top 0.5s ease-in-out;
}

.submenu.show {
    /* display: block; Show the submenu when the 'show' class is added */
    top: 60px; /* Adjust as needed */
}

.submenu-button {
    top: 20px;
    left: 20px;
    display: none;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Creates a circular shape */
    background-color: #ff6384;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submenu-button.show {
    display: block; /* Show the button when the 'show' class is added */
}

.submenu.show .submenu-button.show {
    opacity: 1; /* Fade in the buttons when submenu is shown */
    transition: opacity 0.5s ease-in-out;
}