.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999; /* Ensure it's above other content */
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Styles for the submenu buttons */
.submenu {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50px;
    left: 20px;
}

.submenu.show {
    display: block; /* Show the submenu when the 'show' class is added */
}

.submenu-button {
    display: block;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Creates a circular shape */
    background-color: #ff6384;
    color: #fff;
    border: none;
    cursor: pointer;
}